<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
    </style>
</head>

<body>


<div class="container" style="marin:0;display: table-cell;border-radius: 20px;position: relative;height: 36px;line-height: 36px;vertical-align: middle;text-align: center;padding: 3px 5px;border: 1px solid #dcdee2;">
    <div class="catagory" style="display: table-cell;border-radius: 20px;width: 40px;padding: 0;"><img style="position: absolute;top: 50%;transform: translate(-50%, -50%);" src="./icon-toliet.png" alt=""></div>
    <div class="navigate" style="display: table-cell;border-radius: 20px;width: 120px;padding: 0;background-color: #ed4014;">
        <div class="imgContainer" style="display: table-cell;border-radius: 20px;width: 40px;"><img style="position: absolute;top: 50%;transform: translate(-50%, -50%);" src="./navigate.png" alt=""></div>
        <div style="position: relative;display: table-cell;border-radius: 20px;color: #fff;">Navigate</div>
    </div>
</div>

</body>
</html>
