<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <script src="jquery-3.3.1.js"></script>
    <script src="main.js"></script>
    <title>二级列表布局</title>
</head>

<body>
    <div id="tree">
        <ul class="recorderList">
            <li class="currentRecorder"><span class="currentRecorderSpan">录像机1</span>
                <ul class="videoList">
                </ul>
            </li>
            <li><span>录像机2</span>
                <ul class="videoList">
                </ul>
            </li>
            <li><span>录像机3</span>
                <ul class="videoList"></ul>
            </li>
            <li><span>录像机4</span>
                <ul class="videoList"></ul>
            </li>
            <li><span>录像机5</span>
                <ul class="videoList"></ul>
            </li>
            <li><span>录像机6</span>
                <ul class="videoList"></ul>
            </li>
            <li><span>录像机7</span>
                <ul class="videoList"></ul>
            </li>
        </ul>
    </div>

</body>

</html>